@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  background-color: #30343F;
  color: #FAFAFF;
  height: 15vh;
}

a {
  color: #FAFAFF;
  text-decoration: none;
}

nav {
  display: flex;
  gap: 20px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  gap: 2em
}

.combo-container, .category-container {
  display: flex;
  gap: 3em;
  justify-content: center;
}

.category-container {
  flex-wrap: wrap;
  width: 80%;
}

.combo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #30343F;
  border-radius: 5px;
  gap: 1em;
  padding: 2em;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}

.img-front {
  height: 150px;
  width: 200px;
}

.register-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2em;
}

.radio-buttons {
  padding: 1.5em;
  display: flex;
  justify-content: center;
  gap: 3em;
  border-radius: 5px;
  border: 1px solid #30343F;
  width: 40%;
}

.radio-buttons * {
  font-size: 1.25rem;
}

.form-container {
  font-size: 1.25rem;
  width: 40%;
  padding: 1.5em;
  border: 1px solid #30343F;
  border-radius: 5px;
}

.form-sub {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.form-sub * {
  font-size: 1rem;
  padding: .5em;
}

.search-box {
  padding: .25em 8px;
}